$backdrop-color: #000000;

.backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $backdrop-color;
  opacity: 50%;
  z-index: 9;
}

.burger-menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 400px;
  width: 100%;
  background-color: var(--body-background-color);
  z-index: 10;
}
