.addObjectButton {
  position: absolute;
  margin-top: 2rem;
  right: 0;
  margin-right: 2rem;
  background-color: var(--body-background-color);
  color: var(--text-color);
  text-transform: uppercase;
  z-index: 2;
}
