.container {
  padding: 2rem;
  width: 80vw;
  margin: 0 auto;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.waste-info {
  padding: 2rem 0;
  display: flex;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.5rem;
  background: none;
  &:hover {
    opacity: 0.5;
  }
}
