<div class="waste-info">
  <button
    class="waste-info__button-back"
    [routerLink]="''"
    (click)="soundClick()"
  >
    &larr;
  </button>
  <h2 class="waste-info__title">{{ waste.title }}</h2>
  <div class="details">
    <div class="details__wrapper">
      <div class="details__col">
        <div class="details__name">{{ 'SECOND_SCREEN.WASTE-INFO.CAN' | translate }}</div>
        <ul class="details__list">
          <li class="details__list-item" *ngFor="let item of waste.allow">
            {{ item }}
          </li>
        </ul>
      </div>
      <div class="details__col">
        <div class="details__name-cant">{{ 'SECOND_SCREEN.WASTE-INFO.CAN-NOT' | translate }}</div>
        <ul class="details__list">
          <li
            class="details__list-item-cant"
            *ngFor="let item of waste.notAllow"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="scroll-down">
    <i class="material-icons" (click)="this.scrollService.toScroll('map-screen')">
      expand_more
    </i>
  </div>
</div>
