.auth-controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  &__user-info {
    font-size: 2rem;
    box-shadow: 0 2px 0 0 var(--text-color);
    padding-bottom: 5px;
    margin-bottom: 2px;
  }

  &__button {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin-top: 1px;
    color: var(--text-color);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    transition: all .3s;

    &:hover {
      opacity: 80%;
    }
    &:active {
      opacity: 90%;
    }
  }
}
