.start-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .global-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    .start-screen__content {
      position: absolute;
      top: 5%;
      right: 0;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      animation: start-screen-content 1.5s;
      .content__header {
        font-size: 7.2rem;
        line-height: 7.2rem;
        text-transform: uppercase;
        color: var(--primary-accent-color);
        margin-bottom: 30px;
        transition: color 1s;
      }
      .content__text {
        max-width: 660px;
        font-size: 3.6rem;
        line-height: 4.2rem;
      }
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .start-screen__components{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 25%;
      margin-right: 7%;
      animation: theme-switcher 2s;
      app-control-authentication {
        margin-bottom: 40px;
      }
    }
  }
}
.start-screen__logo {
  max-width: 1300px;
  width: 100%;
  &:hover #arm-and-bottle {
    animation: arm--hover 1.5s infinite alternate;
  }
  &:hover #backet-lid {
    animation: backet-lid 2s infinite alternate;
  }
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
  #man {
    transform-origin: bottom;
    transform-box: fill-box;
    animation: man 2s infinite alternate;
  }
  #arm-and-bottle {
    transform-origin: center;
    transform-box: fill-box;
    animation: arm 2s infinite alternate;
  }
  #backet-lid {
    transform-origin: bottom;
    transform-box: fill-box;
  }
  #grass {
    transform-origin: bottom;
    transform-box: fill-box;
    animation: grass 4s infinite;
  }
  #background {
    transform-origin: bottom;
    transform-box: fill-box;
    animation: background 1.5s;
    #background_2 {
      fill: var(--secondary-background-color);
      transition: fill 1s;
    }
  }
}
.scroll-down {
  user-select: none;
  margin: 0 auto 10px auto;
  .material-icons {
    display: block;
    font-size: 3.5rem;
    color: var(--text-color);
    animation: start-screen-content 0.7s infinite alternate;
    transition: color 1s;
    cursor: pointer;
  }
}

@keyframes background {
  0% {
    transform: scale(0.1) translateY(100%);
  }
  30% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1) translateY(0%);
  }
}
@keyframes grass {
  0% {
    transform: skew(5deg);
  }
  25% {
    transform: skew(-7deg);
  }
  50% {
    transform: skew(5deg);
  }
  75% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(5deg);
  }
}
@keyframes man {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(10deg);
  }
}
@keyframes arm {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
@keyframes arm--hover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-25deg);
  }
}
@keyframes backet-lid {
  from {
    transform: translate(0%, 0%) rotate(0deg);
  }
  to {
    transform: translate(15%, -70%) rotate(35deg);
  }
}
@keyframes start-screen-content {
  from {
    transform: translateY(20%);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}
@keyframes theme-switcher {
  from {
    transform: translateX(20%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@media screen and (max-width: 800px) {
  .start-screen {
    .global-container {
      .start-screen__content {
        position: inherit;
        order: -1;
      }
      .start-screen__container {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        .start-screen__logo {
          margin-bottom: 2rem;
        }
      }
    }
    .start-screen__components {
      margin: 0;
    }
  }
}

@media (max-width: 500px) {
  .start-screen__logo {
    display: none;
  }
  .start-screen {
    .global-container {
      .start-screen__content {
        .content__header {
          font-size: 6.2rem;
          line-height: 6.2rem;
        }
        .content__text {
          font-size: 2.6rem;
          line-height: 3.2rem;
        }
      }
    }
  }
}

@media screen and (max-height: 920px) {
  .start-screen__logo {
    max-width: 1100px;
  }
}
@media screen and (max-height: 820px) {
  .start-screen__logo {
    max-width: 900px;
  }
}
@media screen and (max-height: 720px) {
  .start-screen__logo {
    max-width: 750px;
  }
}
@media screen and (max-height: 680px) {
  .start-screen__logo {
    max-width: 550px;
  }
}
