.info{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .global-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info__content{
    max-width: 70%;
    text-align: center;
    line-height: normal;
    .info__header{
      font-size: 5.5rem;
      line-height: normal;
      margin-bottom: 70px;
    }
    .info__text{
      font-size: 3rem;
    }
  }
}

@media (max-width: 800px) {
  .info{
    .info__content{
      max-width: 100%;
    }
  }
}
@media (max-width: 550px) {
  .info{
    .info__content{
      .info__header{
        font-size: 5rem;
      }
      .info__text{
        font-size: 2.5rem;
      }
    }
  }
}
@media (max-width: 400px) {
  .info{
    .info__content{
      .info__header {
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 370px) {
  .info{
    .info__content{
      .info__header{
        font-size: 4.5rem;
        margin-bottom: 20px;
      }
      .info__text{
        font-size: 2rem;
      }
    }
  }
}
