<section class="info">
  <div class="global-container">
    <div class="info__content">
      <h2 class="info__header">
        Why it is Important?
      </h2>
      <p class="info__text">
        The three golden rules of sustainability we were taught as kids are reduce, reuse, and recycle. But for some
        reason, “recycle” was the one most highlighted. As we learn more and more about going green, it’s becoming more
        and more clear that recycling is actually the least important of those three totems. Sure, recycling is important,
        but if we reduced what we were using and reused what we were using in place of single-use options, there would be
        significantly less stuff in the world to recycle. And less stuff is key to — not to get too hyperbolic here but —
        saving the planet.
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</section>
