$color-primary: var(--primary-accent-color);
$color-secondary: var(--secondary-accent-color);
$color-bg: var(--secondary-background-color);
$color-warning: #d50000;

@mixin input-template {
  margin-top: 1.6rem;
  outline: none;
  text-align: center;
  border: 1px solid $color-primary;
  margin-top: 1rem;
  padding: 0.8rem;
}

@mixin button {
  cursor: pointer;
  border-radius: 3.6rem;
  outline: none;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    transform: scaleX(0.9);
  }
}
.content-wrapper {
  position: fixed;
  top: calc(50vh - 25rem);
  left: calc(50vw - 13rem);
  z-index: 100;
  width: 26rem;
  background-color: $color-bg;
  border-radius: 1rem;
  margin: 3.2rem auto;
  overflow: hidden;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3.5rem 3.2rem;

  &__icon {
    width: 80px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
  }

  &__input {
    @include input-template;
    width: 100%;
    size: 1.9rem;
    border-radius: 0.8rem;
    transition: 0.2s transform;

    &:focus {
      border-color: $color-secondary;
      transform: scaleX(1.02);
      border-radius: 3.2rem;
    }
  }
  &__error {
    margin: 0;
    padding: 0.5rem 0;
    color: $color-warning;
    font-size: 1rem;
  }
  &__button-group {
    display: flex;
    justify-content: space-between;
  }

  &__button-back {
    @include input-template;
    @include button;
    width: 30%;
  }

  &__button-main {
    @include input-template;
    @include button;
    width: 60%;
  }
}

input.ng-touched.ng-invalid {
  border-color: $color-warning;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(41, 41, 41, 0.6);
  z-index: 100;
  transition: 1s;
  cursor: pointer;
  z-index: 1;
}

.tabs {
  font-size: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  input {
    display: none;
  }

  input:checked + label {
    background: $color-bg;
  }

  label {
    width: 50%;
    text-align: center;
    background-color: #a8a8a8;
    padding: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
  }
}

.info-success-auth {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    @include button;
    margin-top: 1rem;
    width: 90%;
    border: 1px solid $color-primary;
  }
}
