<div class="content-wrapper" [@form] *ngIf="isShowAuthenticationForm">
  <div class="content" *ngIf="!isLogged; else successAuthentication">
    <div class="tabs">
      <input
        type="radio"
        name="tabs-group"
        id="tab-login"
        [checked]="isTabLogin"
        (change)="onChangeTab()"
      />
      <label for="tab-login">{{ 'AUTHENTICATION.FORM.LOG-IN' | translate }}</label>
      <input
        type="radio"
        name="tabs-group"
        id="tab-register"
        [checked]="!isTabLogin"
        (change)="onChangeTab()"
      />
      <label for="tab-register">{{ 'AUTHENTICATION.FORM.SIGN-UP' | translate }}</label>
    </div>
    <div class="form">
      <img class="form__icon" src="../../assets/icons/face.svg" alt="face" />
      <h2 class="form__title">{{ currentTitleForElementsForm | translate }}</h2>
      <form [formGroup]="authForm">
        <input
          class="form__input"
          type="text"
          id="email"
          formControlName="email"
          placeholder="{{ 'AUTHENTICATION.FORM.EMAIL' | translate }}"
          autocomplete="off"
          (keydown.enter)="onSubmit(email.value, password.value)"
        />
        <p class="form__error" *ngIf="email.invalid && email.touched">
          {{ 'AUTHENTICATION.FORM.CHECK-EMAIL' | translate }}
        </p>

        <input
          class="form__input"
          type="text"
          id="password"
          formControlName="password"
          placeholder="{{ 'AUTHENTICATION.FORM.PASSWORD' | translate }}"
          autocomplete="off"
          (keydown.enter)="onSubmit(email.value, password.value)"
        />
        <p class="form__error" *ngIf="password.invalid && password.touched">
          {{ 'AUTHENTICATION.FORM.CHECK-PASSWORD' | translate }}
        </p>

        <p class="form__error" *ngIf="authErrorMessage.length">
          {{ authErrorMessage }}
        </p>

        <div class="form__button-group">
          <button
            class="form__button-back"
            type="submit"
            (click)="onCloseAuthenticationForm()"
          >
            &larr;
          </button>
          <button
            class="form__button-main"
            (click)="onSubmit(email.value, password.value)"
          >
            {{ currentTitleForElementsForm | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="overlay"
  [@backdrop]
  *ngIf="isShowAuthenticationForm"
  (click)="onCloseAuthenticationForm()"
></div>

<ng-template #successAuthentication>
  <div class="info-success-auth" [@backdrop]>
    <p>{{ 'AUTHENTICATION.FORM.SUCCESS' | translate }}: {{ userEmail }}</p>
    <button (click)="onCloseAuthenticationForm()">OK</button>
  </div>
</ng-template>
