.map-container {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 50px auto;
}

#map {
  width: 100%;
  height: 100%;
}

.mat-form-field {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 3;
}

::ng-deep.mapboxgl-popup {
  min-width: 300px;
}

::ng-deep.mapboxgl-popup-close-button {
  outline: none;
  font-size: 30px;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba($color: #ffffff, $alpha: 0.9);
}

::ng-deep .mapboxgl-popup-content {
  display: flex;
  flex-direction: column;

  .popup-title {
    padding-right: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.1;
  }

  .popup-main-info {
    position: relative;
    padding: 5px 0 5px 30px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 24px;
      height: 24px;
    }
  }

  .popup-address {
    &::before {
      background: url(../../../assets/icons/pin.svg) center center;
      background-size: 24px 24px;
    }
  }

  .popup-hours {
    &::before {
      background: url(../../../assets/icons/clock.svg) center center;
      background-size: 24px 24px;
    }
  }

  .popup-phone {
    &::before {
      background: url(../../../assets/icons/phone.svg) center center;
      background-size: 24px 24px;
    }
  }

  .popup-waste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 10px;
    border-top: 2px dashed green;

    &__item {
      position: relative;
      width: 30px;
      height: 30px;
      background-size: cover;

      &[tooltip]::after {
        content: attr(tooltip);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        font-size: 15px;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
      }

      &[tooltip]:hover::after {
        opacity: 1;
      }
    }
  }

  .batteries {
    background: url(../../../assets/waste/batteries.png) center center;
    background-size: cover;
  }

  .books {
    background: url(../../../assets/waste/books_24px.png) center center;
    background-size: cover;
  }

  .cloth {
    background: url(../../../assets/waste/cloth_24px.png) center center;
    background-size: cover;
  }

  .electronicWaste {
    background: url(../../../assets/waste/electronicWaste_24px.png) center center;
    background-size: cover;
  }

  .glass {
    background: url(../../../assets/waste/glass.png) center center;
    background-size: cover;
  }

  .householdItems {
    background: url(../../../assets/waste/householdItems_24px.png) center center;
    background-size: cover;
  }

  .lamps {
    background: url(../../../assets/waste/lamps_24px.png) center center;
    background-size: cover;
  }

  .metal {
    background: url(../../../assets/waste/metal.png) center center;
    background-size: cover;
  }

  .oils {
    background: url(../../../assets/waste/oils_24px.png) center center;
    background-size: cover;
  }

  .paper {
    background: url(../../../assets/waste/paper.png) center center;
    background-size: cover;
  }

  .plastic {
    background: url(../../../assets/waste/plastic_24px.png) center center;
    background-size: cover;
  }

  .tires {
    background: url(../../../assets/waste/tires_24px.png) center center;
    background-size: cover;
  }

  .wholeClothes {
    background: url(../../../assets/waste/wholeClothes_24px.png) center center;
    background-size: cover;
  }
}
