.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  }
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 100vh;
  background-color: white;
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
