/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
:root {
  --first-accent-color: #94c83d;
  --second-accent-color: #5e9641;
  --first-background-color: #e0e0e0; 
  --second-background-color: #EEEEEE;
  --global-background-color: #ffffff;
  --text-color: #000000;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--global-background-color);
  transition: color 1s;
  transition: background-color 1s;
}

.global-container {
  max-width: 1880px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
