/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.global-container {
  max-width: 1580px;
  padding: 0 10px;
  margin: 0 auto;
}