.cognitive {
  padding: 2rem 0;
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  &__item {
    width: 18vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    cursor: pointer;
    outline: none;

    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 1;
    }
  }

  &__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    border: 2px solid #94c83d;

    img {
      width: 60%;
    }
  }

  &__item-name {
    margin-top: 1rem;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 420px) {
  .cognitive {
    width: 90vw;
  }
}

@media screen and (max-width: 1050px) {
  .cognitive {
    &__item-name {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .cognitive {
    &__item-name {
      font-size: 2rem;
    }
    &__item {
      width: 12rem;
    }
    &__img-box {
      width: 10rem;
      height: 10rem;
    }
  }
}
